*{
    padding: 0;
    margin: 0;
}
.cabecalho{
    background-color: gray;
    position: absolute;
    width: 100%;
    margin: 0 auto;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    
}
.lista li{
    background-color: yellow;
    font-size: 22px;
    display: inline-block;
    
    
}
header h1:hover{
    font-size: 70px;
}
.lista ul:hover{
    
}
@media (max-width: 700px){
    header{
        background-color: gray;
        display: none;
    }
    .lista{
        width: 100%;
        height: auto;
    }
}