*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,body{
    height: 100%;
    background-image: url('teminha.jpg');
    background-repeat: repeat;
}
.clear{
    clear: both;
}
header{
    display: flex;
    width: 51%;
    background-color: #8db598;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    margin: auto;
    padding: 3px;
    color: whitesmoke;
}
.lista{
    background-color: whitesmoke;
}
nav ul{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
nav li{
    flex-direction: row;
    padding: 10px;
    padding-left: 100px;
    list-style: none;
    margin: 0 15px;
    font-size: 20px;
    color: #8db598;
    
}
section{
    width: 100%;
	max-width: 1280px;
	margin:20px auto;
	padding: 30px 0;
	left: 30px;
    background-image: url('teminha.jpeg');
   
    
}
section img{
    background-image: url('teminha.jpeg');
    padding: 10px 30px;
    
   
}
.texto{
    text-align: center;
    font-family: 'New Tegomin', serif;
}
.texto p{
    font-size: 20px;
    color: black;
    font-weight: 100;
}
footer{
    width: 100%;
    background-color: #8db598;
    height: 15%;
}
footer h5{
    color: whitesmoke;
    padding: 35px 30px;
    text-align: center;
}
@media (max-width:1036px){
    footer{
        height: 19%;
    }
}
@media (max-width:947px){
    header{
        display: none   ;
    }
    nav ul{
        display: flex;
        flex-direction: column;    
        justify-content: center;
        align-items: center;
        margin: 0 15px;
        right: 10px;
    }
    
    
}



